.background {
  background-image: url("../pages/assets/images/furniture.png");
  min-height: 100vh;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cardProduct {
    width: 165px;
  }
  .columnCount {
    column-count: 2;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cardProduct {
    width: 200px;
  }

  .columnCount {
    column-count: 2;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cardProduct {
    width: 200px;
  }

  .columnCount {
    column-count: 3;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cardProduct {
    width: 180px;
  }

  .columnCount {
    column-count: 4;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cardProduct {
    width: 200px;
  }

  .columnCount {
    column-count: 5;
  }
}
